/* variables */
$color-principal: #EB1D36;
$color-bordes: #FA9494;
$color-sombra-black: rgba(0, 0, 0, 0.4);
$color-hover-black: rgba(0, 0, 0, 0.6);
$bordes-ridge: 2px ridge $color-bordes;

*{
    margin: 0;
    padding: 0;
}
/* header */
.navbar{
    height: 75px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom:$bordes-ridge;
    border-radius: 0 0 15px 15px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.90);
    position: fixed;
    z-index: 1;
}
.navbar-brand{
    color: $color-principal;
    font-size: 35px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    text-transform: capitalize;
    &:hover{
        color: $color-bordes;
        transition: 0.4s;
    }
}
.navbar-nav{
    margin-left: auto;
    a{
        text-decoration: none;
        font-family: 'Arima', cursive;
        font-size: 16px;
        color: black;
        text-transform: capitalize;
        margin: 0 10px;
        &:hover{
            color: $color-hover-black;
            background-color: $color-bordes;
            border-radius: 20px;
            transition: 0.4s;
        }
    }
}
.active{
    background-color: rgba(255, 0, 0, 0.30);
    border-radius: 20px;
}
/* main */
.jumbotron{
    margin: 0;
    padding-top: 100px;
    border-radius: 0;
    position: static;
    z-index: 2;
}
.container{
    margin-bottom: 70px;
}
.titulo{
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    animation-name: focus-in;
    animation-duration: 1.5s;
    margin-bottom: 50px;
    letter-spacing: 10px;
}
.destinos{
    img{
        width: 100%;
        height: 250px;
        border-radius: 20px;
        border:$bordes-ridge;
        box-shadow: 10px 5px 5px $color-sombra-black;
        margin-bottom: 20px;
        animation-name: flip-in-hor-bottom;
        animation-duration: 2s;
    }
    .texto-h2, .texto-h3{
        color: $color-principal;
        letter-spacing: 4px;
    }
}
.capa{
    position: absolute;
    color: #EB1D36;
    top: 0px;
    padding-left: 15px;
    opacity: 0;
    background-color: #fa949449;
    border-radius: 20px;
    height: 250px;
    width: 350px;
}
.capa:hover{
    opacity: 1;
}
.zoom {
    transition: transform .2s;
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.6);
}
$mapaTextos:(
    h2: 30px,
    h3: 28px,
    h4: 18px,
);
@each $tex, $tam in $mapaTextos {
    .texto-#{$tex} {
        @extend .titulo;
        font-size: $tam;
        text-shadow: 2px 2px 5px $color-sombra-black;
        font-weight: 600;
        margin-bottom: 20px;
        letter-spacing: 0px;
    }
}
.pasajes, .contacto, .combis{
    justify-items: center;
    animation-name: focus-in;
    animation-duration: 1s;
}
.form-group{
    font-family: 'Arima', cursive;
    font-size: 20px;
    text-transform: capitalize;
}
input{
    float: right;
    border-color: $color-bordes;
    border-radius: 10px;
    padding-left: 10px;
    &:focus, &:defined{
        color: $color-principal;
    }
    &[type=radio]{
        float: none;
    }
    &[type=number]{
        width: 50px;
    }
}
.btn{
    font-family: 'Arima', cursive;
    font-size: 20px;
    background-color: $color-bordes;
    border:$bordes-ridge;
    border-radius: 10px;
    &:hover{
        color: $color-hover-black;
        background-color: $color-bordes;
        border-color: $color-bordes;
        transition: 0.4s;
    }
}
.multimediaCombis{
    video, img{
        border-radius: 20px;
        border:$bordes-ridge;
        box-shadow: 10px 5px 5px $color-sombra-black;
        object-fit: cover;
        width: 100%;
        margin-top: 20px;
    }
}
textarea{
    resize:none;
    border:$bordes-ridge;
    border-radius: 10px;
    color: $color-principal;
    padding-left: 10px;
    height: 200px;
    width: 100%;
}
.centrado{
    margin-inline: auto;
}
.contacto{
    p{
        width: 100%;
        margin-bottom: 40px;
    }
}
.formTam-contacto{
    width: 100%;
}
.ubicacion{
    border: $bordes-ridge;
    border-radius: 20px;
    height: 50%;
    width: 100%;
    box-shadow: 10px 5px 5px $color-sombra-black;
}
/* footer */
footer{
    background-color: $color-bordes;
    color: #F5EDDC;
    text-shadow: 2px 2px 5px $color-sombra-black;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 20px;
    height: 60px;
}
.redes{
    display: inline-block;
    list-style: none;
    margin: 10px 20px auto 0;
    a{
        color: #F5EDDC;
    }
}
/* animaciones */
@keyframes focus-in {
    0% {
            -webkit-filter: blur(5px);
                    filter: blur(5px);
            opacity: 0;
        }
    100% {
            -webkit-filter: blur(0px);
                    filter: blur(0px);
            opacity: 1;
        }
}
@keyframes flip-in-hor-bottom {
    0% {
            -webkit-transform: rotateX(80deg);
                    transform: rotateX(80deg);
            opacity: 0;
        }
    100% {
            -webkit-transform: rotateX(0);
                    transform: rotateX(0);
            opacity: 1;
        }
}
/* media querys */
@media screen and (max-width: 768px) {
    .navbar-collapse{
        background-color: whitesmoke;
        border-bottom: $bordes-ridge;
        border-radius: 0 0 20px 20px;
    }
    footer {
    font-size: 16px;
    height: 100px;
    text-transform: capitalize;
    flex-wrap: wrap;
    }
    .multimediaCombis, .ubicacion{
        display: none;
    }
}
@media screen and (max-width: 340px) {
    .navbar-brand{
        font-size: 30px;
    }
    .destinos h2{
        font-size: 30px;
    }
    input{
        width: 80%;
    }
}